@import '../../styles/default.less';
.header {
  background-color: @colorM;
  
  .header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;

    a {
      margin-left: 40px;
    }
  }

  .breadCrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;

    .breadCrumb-title {
      text-align: center;
    }

    .weather {
      text-align: right;
      font-size: 14px;

      .weather-img {
        img {
          height: 15px;
          vertical-align: middle;
        }
      }

      .weather-detail {
        margin-left: 5px;
      }
    }
  }
}